:root {
	--white: #FFFFFF;
	--green: #138F5B;
	--green-light: #0ED984;
	--blue: #0D41A7;
	--blue-light: #3577F6;
	--purple: #9C10B4;
	--purple-light: #D72DF3;
	--dark: #1D1A1A;
	--grey: #615D5D;
}